body {
    margin:0;
    padding: 0;
}
/******************
 Article / Card 
 ******************/
 h1 {
    font-style: italic;
 }
main {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
}
h1 {
   width: 100%;
}

article {
    width:30%;
    margin-bottom: 20px;
    border: 1px solid lightgray;
    border-radius: 5px;
}

article img{
    width: 100%;
    border-radius: 5px 5px 0 0 ;
}

button {
    background-color: rgb(0, 170, 255);
    border: none;
    padding: 10px;
    color:white;
    border-radius: 5px;
    font-size: 1.2em;
}

.card-content {
    padding: 5px;
}

button:active {
    background-color: white;
    outline: 1px solid rgb(0, 170, 255);
    color: black;
}

input:focus {
    background-color: black;
    color: white;
}

/***************
Header
******************/
header {
    padding: 5px;
    display: flex;
    align-items: center;
    height: 50px;
    background-color: rgb(244, 244, 244);

}

header > :first-child {
    font-weight: bold;
    font-size: 1.3em;
}

header a {
    color: black;
    text-decoration: none;
}

header a:hover {
    font-weight: bold;
}


ul {
    display: flex;
    list-style: none;
}
header li {
    margin: 5px;
}
header button {
    display: none;
}



@media (max-width: 768px) and (min-width: 577px) {
    article {
     width: 45%;
    }
 
 
 }
@media (max-width: 576px)  {
   article {
    width: 90%;
   }

   nav {
    display: none;
   }

   header button {
    display: block;
   }

   header {
    justify-content: space-between;
   }
}